extends layout

block content
    h1 BCSA Extensible API Demonstration
    .well
        b {{ currentPublisher.publisherName }}
        span  is the selected publisher
    uib-tabset(active="active")
        uib-tab(index="0" heading="Manage Publishers")
            div(ng-controller="publisherController")
                form.well
                    legend New Publisher
                    .form-group
                        label(for="publisher-create") New Publisher Name
                        input.form-control#publisher-create(ng-model="newPublisherName" placeholder="Name for the new publisher")
                    .form-group
                        button.btn.btn-default(ng-click="createPublisher()") Create New Publisher
                form.well
                    legend Active Publisher
                    .input-group
                        span.input-group-btn
                            button.btn.btn-danger.btn-small(ng-click="removePublisher()") X
                        select.form-control(required ng-model="$root.currentPublisher" ng-options="val.publisherName for val in publisherList" ng-change="changePublisher()")
                            option(value='' disabled hidden selected='selected') Please Set the Publisher

        uib-tab(index="1" heading="Attribute Editor")
            div(ng-controller="attributeSetEditorController")
                form.well
                    legend New Record Attribute Set
                    .form-group
                        label(for="attribute-set-create") New Attribute Set Name
                        input.form-control#attribute-set-create(ng-model="newAttributeSetName" placeholder="Name for the new record")
                    .form-group
                        button.btn.btn-default(ng-click="createAttributeSet()") Create Empty Attribute Set
                form.well
                    legend Active Attribute Set
                    .form-group
                        .input-group
                            span.input-group-btn
                                button.btn.btn-danger.btn-small(ng-click="removeAttributeSet()") X
                            select.form-control(required ng-model="currentAttributeSet" ng-click="oldVal=currentAttributeSet" ng-change="changeAttributeSet(oldVal)" ng-options="(val.recordName + ' (' + $root.publisherLookup[val.ownerId].publisherName + ')') for val in attributeSetList")
                                option(value='' disabled hidden selected='selected') Please Set the Attribute Set
                    fieldset(ng-show="currentAttributeSet")
                        legend Primary record
                        .form-group(ng-show="currentAttributeSet.ownerId == $root.currentPublisher._id")
                            label(for="attribute-set-endpoint") API Endpoint Specification for Data Source
                            input.form-control#attribute-set-endpoint(ng-model="currentAttributeSet.endPoint" placeholder="API Endpoint specification for the data source e.g. /contractor/:id")
                        .form-group(ng-show="currentAttributeSet.ownerId == $root.currentPublisher._id")
                            label
                                input(type="checkbox" ng-model="currentAttributeSet.worldWritable")
                                |  Allow all publishers to contribute to this record
                        .form-group
                            .attributes(ng-repeat="attribute in currentAttributeSet.attributes" model-attribute="attribute")

                        legend {{$root.currentPublisher.publisherName}} Adornments
                        .panel.panel-default
                            .panel-body
                                .form-group
                                    .my-adornments(ng-repeat="adornment in filteredPublisherRecordList = (currentPublisherRecordList | filter:{_id: '!' + currentAttributeSet._id})" model-adornment="adornment")
                                    p(ng-show="filteredPublisherRecordList.length == 0") No adornment records available

                        legend All Attached Adornments
                        .panel.panel-default
                            .panel-body
                                .form-group
                                    .all-adornments(ng-repeat="adornmentId in currentAttributeSet.adornments")
                                        p(ng-init="adornment = (attributeSetList | filter:{_id: adornmentId})[0]") {{adornment.recordName}} ({{$root.publisherLookup[adornment.ownerId].publisherName}})

        uib-tab(index="2" heading="Summary Viewer")
            div(ng-controller="viewerSummaryController")
                .primaryGrid#primaryGrid1(ui-grid="gridOptions" ui-grid-pagination)
