doctype html

html
    head
        title= title

        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='styleSheet' href='/lib/angular-ui-grid/ui-grid.min.css')
        link(rel='stylesheet', href='stylesheets/bcsa.css')

        if env === 'dev'
            script(data-main="js/main" src="/lib/requirejs/require.js")
        else
            script(data-main="js/main.min" src="/lib/requirejs/require.js")

  body
    .container
        block content
